body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #e5e5e5;
    /* background: #272a2c; */
}

* {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* TOP CONTAINER */
.top_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 2em 0;
}

img {
    height: 150px;
    width: 150px;
}

h2 {
    font-size: xx-large;
    margin-bottom: 0;

}

#occupation p {
    margin: 0;
    color: #78c0ec;
}

.top:nth-child(1) {
    display: flex;
    gap: 2em;
}

.top:nth-child(2) span {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.top:nth-child(2) p {
    margin: 0;
}

.top:nth-child(1),
.top:nth-child(2) {
    flex: 1;
}

.top:nth-child(3) {
    flex-basis: 80%;
    margin-top: 20px;
    text-align: start;

}



/* BOTTOM CONTAINER */
.bottom_container {
    margin-top: 5em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2em;
}



/* 
    BOTTOM LEFT CONTAINER
*/

.expierence {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;

    & div {
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        position: relative;
        &::before{
            position: absolute;
            content: ">";
            height: 15px;
            width:  15px;
            text-align: center;
            font-weight: 1000;
            border-radius: 50%;
            font-size: 10px;
            left: 0;
            transform: translateY(100%);
            background-color: var(--bgColor);
        }
    }

    & div span {
        margin-top: .5em;
    }

    & span:nth-last-child(2) {
        text-align: right;
    }

    & div,
    & span:nth-last-child(2) {
        flex: 1;
    }

    & p {
        flex-basis: 100%;
        margin-top: 20px;
        text-align: start;
    }

}

.left h3{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #c8c8c8;
    &::before{
        content: "v";
        height: 100%;
        background-color: var(--bgColor);
        padding: .5em .7em;   
        border-radius: 15%;
    }
}





/* 
    BOTTOM RIGHT CONTAINER
*/

.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.right {
    width: 200px;
}

.meter {
    height: 20px;
    font-size: 15px;
    position: relative;
    margin-top: 2em;

    &::before {
        content: attr(data-value);
        position: absolute;
        bottom: 100%;
    }

    & span {
        display: block;
        height: 100%;
    }
}

.progress {
    text-align: right;
    animation: progressBar 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


.right:nth-child(2) {
    display: flex;
    flex-direction: column;

    & h4 {
        text-align: start;
        margin-bottom: 1em;
    }

    & span {
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 5px;
            transform: translateY(60%);
            height: 10px;
            width: 10px;
            display: inline-block;
            background-color: var(--bgColor);
        }
    }
}


.right:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & div {
        height: 25x;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    & span {
        height: 25px;
        width: 25px;
        display: block;
        border-radius: 50%;
        border: 1px solid black;
        background-color: var(--bgColor);

    }

    & .none {
        background-color: #e5e5e5 !important;
    }
}

@media screen and (max-width: 780px) {
    body{
        margin: 2em;
    }
    .bottom_container{
       flex-direction: column; 
    }

    .right{
        width: 80vw;
        align-items: center;
    }

    .right:nth-child(2), .right:nth-child(3){
        align-items: start;
    }

    .right:nth-child(3) div{
        gap: .5em;
    }
}