/* Page + card */
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #e5e5e5;
}

* {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 2em 0;
}

img {
    height: 150px;
    width: 150px;
}

h2 {
    font-size: xx-large;
    margin-bottom: 0;

}

#occupation p {
    margin: 0;
    color: #78c0ec;
}

.top:nth-child(1) {
    display: flex;
    gap: 2em;
}

.top:nth-child(2) span {
    display: flex;
    justify-content: flex-start;
    /* align-items: center;
    text-align: center; */
    gap: 1em;
}

.top:nth-child(2) p {
    margin: 0;
}

.top:nth-child(1),
.top:nth-child(2) {
    flex: 1;
    /* min-width: 300px;      */
}

.top:nth-child(3) {
    flex-basis: 80%;
    margin-top: 20px;
    /* justify-self: flex-start; */
    text-align: start;

}


.bottom_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.expierence {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2em; */
    margin: 2em 0;

    & div {
        display: flex;
        flex-direction: column;
    }

    & div span {
        margin-top: .5em;
    }

    & span:nth-last-child(2) {
        /* margin: 0 auto; */
        text-align: right;
    }

    & div,
    & span:nth-last-child(2) {
        flex: 1;
    }

    & p {
        flex-basis: 100%;
        margin-top: 20px;
        /* justify-self: flex-start; */
        text-align: start;
        /* color: red; */
    }
}


.right_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* min-width: 300px; */
    /* width: 200px; */
}

.right{
    width: 200px;
}

.meter {
    height: 20px;
    font-size: 15px;
    position: relative;
    margin-top: 2em;
    &::before{
        content: attr(data-value);
        position: absolute;
        bottom: 100%;
    }
    & span {
        display: block;
        height: 100%;
    }
}

.progress {
    text-align: right;
    animation: progressBar 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


.right:nth-child(2){
    display: flex;
    flex-direction: column;
    & h4{
        text-align: start;
        margin-bottom: 1em;
    }
    & span{
        position: relative;
        padding-left: 20px;
        &::before{
            content: "";
            position: absolute;
            left: 5px;
            transform: translateY(60%);
            height: 10px;
            width: 10px;
            display: inline-block;
            background-color: var(--bgColor);
        }
    }
}